.subHeader {
  color: #7f7d7d;
}

.input_with_bottom_border {
  outline: 0 !important;
  border-width: 0 0 2px !important;
  border-color: #ccc !important;
  margin-left: 15px !important;
  width: 100% !important;
  margin-bottom: 0px;
}

.form_wrapper {
  margin-top: 25px;
}

.form_wrapper .input_with_bottom_border {
  width: 100%;
  margin-bottom: 0px;
}

.form_wrapper .input_with_bottom_border:focus {
  box-shadow: none;
}

.dob:not(.has-value):before {
  content: attr(placeholder);
}

.locationWrapper {
  background-color: #fff6f6;
  margin-left: 20px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  color: #aeacac;
  width: 100%;
}

.locationWrapper span {
  margin-left: 9px;
}

.agreeText{
    margin-top: 35px !important;
    font-size: 13px;
    /* line-height: 10px; */
    padding-left: 15px !important;
    padding-right: 0px;
}

.agreeTextLink{
    color: #8686bc;
}

.inputGroup{
  margin-bottom: 15px;
}

.error{
  margin-left: 15px !important;
  font-size: 13px;
  color: red;
}

.customSelect {
  border: none;
  border-bottom: 1px solid #ccc;
  border-width: 0 0 2px !important;
  border-radius: 0;
  font-size: 14px;
  width: 100%;
  padding: 6px 9px;
  margin-left: 15px !important;
  margin-bottom: 0px;
}

.customSelect:focus {
  box-shadow: none;
  border-color: #ccc;
  outline: none;
}

.nextBtn{
  width: 100%;
  background-color: #00e493 !important ;
  color:#fff !important;
  margin-top: 35px;
  border: none !important;
  margin-left: 15px;
  width: 95%;
}

.nextBtn:focus{
  box-shadow: none !important;
}
